---
import '../styles/global.css'
import '@fontsource/geist-sans'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>gitrapid</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="hero bg-base-200 min-h-screen">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">GitRapid</h1>
                    <p class="py-6">A faster github experience</p>
                    <div class="flex gap-4">
                        <a href="/facebook/react" class="btn btn-primary"> facebook/react </a>
                        <a
                            href="/facebook/react/blob/0fc0871c89963ecaeb1476b82156c2399e765e8e"
                            class="btn btn-primary"
                        >
                            facebook/react (commit)
                        </a>
                        <a href="/tanstack/query" class="btn btn-primary"> tanstack/query </a>
                        <a href="/withastro/astro" class="btn btn-primary"> withastro/astro </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
