---
import '@/styles/global.css'
import '@/styles/github-markdown.css'
import '@fontsource/geist-sans'
---

<html lang="en" data-theme="light">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>gitrapid</title>

        <meta
            name="description"
            content="The fastest github client. Instantly navigate to any file, issue, or pull request from your repositories."
        />

        <!-- <script crossorigin="anonymous" src="//unpkg.com/react-scan/dist/auto.global.js"></script> -->
    </head>
    <body>
        <slot />
    </body>
</html>
